* {
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: auto;
  padding: 2rem;
}

table {
  width: 800px;
  table-layout: fixed;
  border-collapse: collapse;
  border: lavender 3px solid;
}

tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

thead {
  background: lavender;
}

thead tr {
  display: block;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th,
td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

a {
  text-decoration: none;
  border-radius: 50%;
  color: black;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
}

nav {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 600px;
  border: 3px lavender solid;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
}

.selected {
  background-color: lavender;
}
